

/*
     FILE ARCHIVED ON 18:26:00 May 24, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:55:31 May 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.736
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.066
  esindex: 0.01
  cdx.remote: 35.301
  LoadShardBlock: 236.646 (3)
  PetaboxLoader3.datanode: 227.532 (4)
  PetaboxLoader3.resolve: 181.449 (2)
  load_resource: 195.221
*/